

@media (max-width: 1266px){
    /* styles for popup */
    #popup{
        width: 60%;
    }
    /* styles for tool bar */
    .paint__options-canvas{
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
    /* styles for options panel */
    .paint__option{
        -webkit-box-flex: 0;
            -ms-flex: 0;
                flex: 0;
        position: absolute;
        right: 0;
        width: 300px;
        background: white;
        display: none;
        -webkit-animation: rightToLeft .25s 1 forwards;
                animation: rightToLeft .25s 1 forwards;
    }
    @-webkit-keyframes rightToLeft {
        from { right: -300px; opacity: 0;}
        to { right: 0; opacity: 1;}
    }
    @keyframes rightToLeft {
        from { right: -300px; opacity: 0;}
        to { right: 0; opacity: 1;}
    }
    .paint__option.inactive{
        -webkit-animation: leftToRight .25s 1 forwards;
                animation: leftToRight .25s 1 forwards;
    }
    @-webkit-keyframes leftToRight {
        from { right: 0; opacity: 1;}
        to { right: -300px; opacity: 0;}
    }
    @keyframes leftToRight {
        from { right: 0; opacity: 1;}
        to { right: -300px; opacity: 0;}
    }
    .paint__option.active{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .paint__option-panel--bar{
        height: 100%!important;
        min-height: 40px;
        width: 80px!important;
        background: rgb(46, 185, 219)!important;
        color: white;
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .paint__option-panel--bar button{
        height: 100%;
    }
    .paint__option-panel--bar i{
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    /* styles for popup */
    #popup{
        width: 80%;
        top: 67%;
    }
    /* styles for tool bar */
    .paint button{
        width: auto;
    }
    p.p-hidden{
        display: none;
    }
    .paint__table-geometry{
        left: -245%;
    }
}
@media (max-width: 576px){
    /* styles for picker */
    .paint__addcolor{
        width: 100vw;
        height: auto;
        top: 10px;
    }
    .paint__picker-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    /* styles for popup */
    #popup{
        width: 90%;
        height: 650px;
    }
    #popup.active{
        top: 75%;
        overflow: scroll;
    }
    .popup__content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .popup__content-left{
        width: 93%;
        height: 40%;
    }
    .popup__content-right{
        width: 100%;
    }
    #popup select{
        min-height: 120%;
    }
    .popup__slider {
        width: 60%;
        height: 50%;
        top: 21%;
        left: 22%;
    }
    .popup__title{
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .popup__label-button{
        gap: 0.5rem;
    }
    .popup__content-left .popup__upload{
        height: 80%;
        width: 65%;
    }
    .popup__close{
        z-index: 99999;
    }
    /* styles for left panel */
    .paint__option{
        width: 100%;
    }
}
@media (max-width: 400px){
    /* styles for loading */
    .loading h2{
        font-size: 16vw;
    }
    .loading p{
        transform: translateY(-50px);
    }
    /* styles for popup */
    .popup__note{
        display: none;
    }
    /* styles for save */
    .paint__img-content{
        flex-direction: column;
        height: 100px;
    }
    .paint__img-option{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .paint__table-img{
        width: 225px;
    }
    /* styles for paint direc */
    .paint__direc{
        flex-direction: column;
        height: 120px!important;
    }
    .paint__history, .paint__draw{
        justify-content: space-around;
    }
    .paint__board, #canvas{
        height: 510px;
    }
    .paint__option-panel--bar{
        width: 55px!important;
    }
    .paint__table-geometry{
        left: -3%;
    }
    .paint__table-geometry.active{
        top: 50px;
    }
    .paint__table-geometry:after{
        left: 15px;
    }

}