body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';

}
:root{
    --option-width: 200px;
    --basic-height: 60px;
    --canvas-size: 80%;

    --header-color: rgb(54,57,65);
    --text-color: rgb(255,255,255);
    --light-white: rgb(240,242,243);
    --button-hover-color: rgb(219,221,227);
    --title-color: rbg(0,168,243);

    --blue: rgb(45, 143, 189);
    --gray: rgb(180,183,181);
}
/* ------------------------------------------------------- */
/* general styles */
.paint{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.paint button{
    height: 100%;
    width: 150px;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    padding: 0 1rem;
    transition: all .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 0.5rem;
}
.paint button:hover{
    background-color: var(--button-hover-color);
}
/* ---------------------------------- */
/* paint header */
.paint__header{
    width: 100%;
    height: var(--basic-height);
    background-color: var(--header-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------------- */
/* main part - styles */
.paint__main-part{
    height: calc(100vh - var(--basic-height));
    width: 100%;
    background-color: var(--gray);
    display: flex;
}
/* ---------------------------------------------------- */
/* canvas, direc and options styles */
.paint__options-canvas{
    display: flex;
    flex-direction: column;
    width: var(--canvas-size);
    height: 100%;
    background-color: var(--gray);
}
.paint__history,
.paint__draw{
    height: 100%;
    width: auto;
    display: flex;
}
#default{
    cursor: pointer;
}
.paint__direc{
    height: var(--basic-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
    background-color: var(--light-white);
}
.paint__canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.paint__option{
    width: calc(100% - var(--canvas-size));
    height: 100%;
    background-color: var(--light-white);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
}
/* Phần này t có sửa lại flex  */
.paint__pen-size{
    flex: .5;
    width: 100%;
    color: var(--blue);
    font-weight: 500;
}

.paint__pen-opacity{
    flex: .5;
    width: 100%;
    color: var(--blue);
    font-weight: 500;
}
/* ===== */
.paint__pen-material{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--blue);
    font-weight: 500;
}
.paint__pen-material--content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.paint__material{
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--header-color);
}
.paint__material.active{
    background-color: var(--blue);
    color: white
}
.paint__change-color{
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#paint__change-color-picker{
    border: 3px solid rgba(15, 15, 15, 0.2);
    cursor: pointer;
}
.paint__board{
    position: absolute;
    width: 1000px;
    height: 500px;
    z-index: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 65%;
    filter: blur(1px);
    display: flex;
    justify-content: center;
}
#canvas {
    opacity: 0.8;
}

/* popup */

.paint.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
#popup{
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    padding: 50px 60px;
    box-shadow: 0 5px 30px rgb(0 0 0 / 30%);
    background: #fff;
    border-radius: 10px;
    width: 55%;
    height: 235px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}
#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -70%);
}

.popup__title{
    margin-bottom: 10px;
    color: #333;
    transform: translateY(-60px);
    text-align: center;
    width: 100%;
}
.hr-1 {
    transform: translateY(-60px);
}
.hr-2 {
    transform: translateY(-57px);
}
.title{

}
.popup__content{
    display: flex;
    width: 100%;
    height: 72%;
    transform: translateY(-60px);
    justify-content: space-between;
}
.popup__slider{
    width: 72%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.popup__slider .popup__slide {
    cursor: pointer;
    width: 32%;
    height: 100%;
    margin-right: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow:1px 2px 3px rgba(0, 0, 0, 0.435);
    
}
.popup__slider .popup__slide .popup__txt .fas.fa-check {
    font-size: 60px;
    color: #19ce20;
    text-align: center;
    transform: translateY(35px);
}
.fas.fa-check.active {
    display: none;
}
.popup__slider .mr {
    margin: inherit;
}
.popup__slider .popup__slide img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.popup__slider .popup__slide img:hover{
    opacity: 0.5;
}

.popup__slider .popup__slide .popup__txt {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.347);
    position: absolute;
    bottom: 50px;
    text-align: center;
    color: white;
    padding:10px;
    box-sizing: border-box;
    opacity: 0;
}
.popup__slider .popup__slide.active {
    border: 4px solid rgb(0, 171, 26);
}
.popup__slider .popup__slide .popup__txt h3 {
    transform: translateY(50px);
}
.popup__slider .popup__slide:hover div.popup__txt {
    opacity: 1;
    transform: translateY(50px);
    transition:ease-in-out 0.5s;
}
 
.popup__slider .popup__slide:hover img {
    transform: scale(1.2);
    transition: all ease-in-out 0.5s;
}
.popup__content .popup__upload {
    width: 22%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    box-shadow:1px 2px 3px rgba(0, 0, 0, 0.435);
    overflow: hidden;
}
.popup__content .popup__upload.active{
    border: 4px solid rgb(0, 171, 26);
}
#displayImg {
    width: 100%;
    height: 100%;
    text-indent: -10000px;
}
.paint__canvas .paint__board .paint__img{
    width:auto; 
    height:100%;
    
}
.upload{
    display: none;
    opacity: 0;
    visibility: none;
}
.popup__content .popup__upload:hover {
    background-color:rgba(202, 201, 201, 0.265);
    transition: 0.25s;
}
.popup__content .popup__upload:active {
    background-color:rgba(91, 91, 91, 0.374);
    transition: 0.25s;
}
.popup__content .popup__upload:active .popup__photos {
    color: #fff;
}
.popup__content .popup__upload .popup__photos {
    position: absolute;
    top: 40%;
    left: 43%;
    font-size: 33px;
    color: #4b4c4d;
}
.popup__btn-optional {
    position: absolute;
    width: 15%;
    height: 52px;
    bottom: 4%;
    left: 7%;
    display: flex;
    justify-content: space-between;
}
.popup__btn-optional .popup__btn {
    width: 52px;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.25s;
    position: relative;
}
.popup__btn-optional .popup__btn.cancel--styles:hover{
    background-color: rgb(236, 4, 4);
}
.popup__btn-optional .popup__btn.choose--styles:hover{
    background-color: rgb(42, 218, 7);
}
.cancel--styles{
    background-color: rgba(181, 2, 2, 0.537);
}
.choose--styles{
    background-color: rgba(34, 181, 5, 0.53);
}

.popup__btn-optional .popup__btn .fas {
    position: absolute;
    left: 26%;
    top: 25%;
    font-size: 25px;
    color: rgb(243, 242, 242);
}
/* icon chage background canvas */
#icon-canvas {
    cursor: pointer;
    top: 1%;
    right: 1%;
    position: fixed;
    font-size: 15px;
    color: #c4c4c4;
    display: none;
}
#icon-canvas i:hover{
    color: #bbbbbb;
}
#icon-canvas i:active{
    color: #848383;
}
/* ================================================================================
            PHẦN CODE CSS CỦA TÀI
================================================================================ */
.paint__pen-size {
    /* width: 30%; */
    /* margin: 24% auto; */
    position: relative;
    /* height: 200px; */
}
.paint__pen-opacity{
    position: relative;
}
#slider1 {
    outline: none;
    height: 7px;
    width: 80%;
    position: absolute;
    top: 60%;
    /* transform: translateY(-50%); */
    left: 10%;
    cursor: pointer;

    /* outline: none; */
    border-radius: 3px;
}
#slider1::-webkit-slider-thumb {
    /* appearance: none; */
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.paint__selector1 {
    height: 50px;
    width: 100px;
    background-color: transparent;
    position: absolute;
    top: 34%;
    left: 0;
    /* transform: translateX(-50%); */
    z-index: 2;
    color: black;
    /* cursor: pointer; */
}
/* .paint__selectBtn {
    height: 20px;
    width: 20px;
    background: transparent;
    border-radius: 50%;
    background-position: center;
    position: absolute;
    /* bottom: 38rem; */

.selectValue1 {
 
        width: 58px;
        /* height: 33px; */
        position: absolute;
        /* bottom: 38rem; */
        left: 1rem;
        /* background-color: aqua; */
        top: 1px;
        text-align: center;
        /* line-height: 45px; */
        font-size: 15px;
        color: black;
        z-index: 2;
    
    
}
#slider2 {
    /* background-color: aqua; */
    /* -webkit-appearance: none; */
    outline: none;
    height: 7px;
    width: 80%;
    position: absolute;
    top: 60%;
    /* transform: translateY(-50%); */
    left: 10%;
    cursor: pointer;

    /* outline: none; */
    border-radius: 3px;
}
#slider2::-webkit-slider-thumb {
    /* appearance: none; */
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.paint__selector2 {
    height: 50px;
    width: 100px;
    background-color: transparent;
    position: absolute;
    top: 34%;
    left: 0;
    /* transform: translateX(-50%); */
    z-index: 2;
    /* cursor: pointer; */
    color: black;
}


.selectValue2 {
 
    width: 58px;
    /* height: 33px; */
    position: absolute;
    /* bottom: 38rem; */
    left: 3rem;
    /* background-color: aqua; */
    top: 1px;
    text-align: center;
    /* line-height: 45px; */
    font-size: 15px;
    z-index: 50;
    color: black;
    
    
}
